@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

// font in body is 'Avenir' 

.app {
    &__highlights-verticalline {
        
        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

    }

    &__highlights {
        @include mobile {
            margin-left: 6vw;
        }

        @include tablet {
            margin-left: 3.5vw;
        }

        @include desktop {
            margin-left: 12vw;
        }
    }

    &__highlights-header {
        @include mobile {
            font-family: 'Avenir Next';
            font-weight: bold;
            color: $primary-color;
            font-size: 23px;
            margin-top: -5.5rem;
            line-height: 2rem;
            margin-right: 15vw;

        }

        @include tablet {
            font-size: 35px;
        }

        @include desktop {
            margin-top: -5rem;
        }
    }

    &__highlights-wrap {
        @include mobile {
        display: flex;
        margin-top: -1rem;
    }

        @include tablet {
        margin-top: -1.5rem; 
    }   
}

    &__highlights-channel {
        @include mobile {
        font-size: 18px;
        font-family: 'Avenir Next Demi';
        font-weight: bold;
        padding-right: 0.8rem;
    }
        @include desktop {
            font-size: 16px;
        }
    
}

    &__highlights-date {
        @include mobile {
            font-size: 18px;
            color: #AFAFAF;
            font-family: 'Avenir Light';
        }

        @include desktop {
            font-size: 14px;
            margin-top: 1.18rem;
        }
    }

    &__highlights-container {
        @include mobile {
            display: flex;
        }

        @include tablet {
            margin-top: -3.5rem;
            margin-left: 58vw;
        }

        @include desktop {
            margin-left: 34vw;
            margin-top: -3rem;
        }
    }

    &__highlights-likesicon {
        @include mobile {
            width: 7%;
            padding-right: 0.8rem;
        }

        @include desktop {
            width: 3%;
        }
    }

    &__highlights-viewsicon {
        @include mobile {
            width: 9%;
            padding-right: 0.8rem;
        }

        @include desktop {
            width: 4%;
        }
    }

    &__highlights-views,
    &__highlights-likes {
        @include mobile {
            font-size: 16px;
            padding-right: 1.5rem;
            font-family: 'Avenir Light';
        }

        @include desktop {
            font-size: 14px;
        }
    }

    &__highlights-underline {
        @include mobile {
            width: 93%;
            margin-right: 6vw;
            border-bottom: 2px solid $border-color;
            display: inline-block;
            margin-bottom: 0.5rem;
        }

        @include tablet {
            width: 96%;
            margin-right: 4vw;
        }

        @include desktop {
            width: 62%;
        }
    }

    &__highlights-description {
        @include mobile {
            font-size: 12px;
            margin-right: 6vw;
            line-height: 1.3rem;
            font-family: 'Avenir Light';
        }

        @include tablet {
            font-size: 15px;
            line-height: 1.5rem;
            margin-right: 24vw;
        }

        @include desktop {
            font-size: 14.5px;
            margin-right: 50vw;
        }
    }
}