@font-face {
    font-family: 'Avenir';
    src: url(./../../components/Fonts/AvenirNextProLT/AlternativeFiles/Linotype-AvenirNextLTPro-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url(./../../components/Fonts/AvenirNextProLT/AlternativeFiles/Linotype-AvenirNextLT-ProDemi.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url(./../../components/Fonts/AvenirNextProLT/AlternativeFiles/Linotype-AvenirNextLTPro-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}