@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: 'Avenir';
}

.app {

    &__header-container {
        
        @include tablet {
        display: flex;
        margin-bottom: 0.5rem;
    }
}
    &__header-logo {
        @include mobile {
        display: flex;
        justify-content: center;
        margin-left: 30vw;
        padding: 18px 0 18px 0;
        width: 38%;

    }

        @include tablet {
            margin-left: 5vw;
            width: 20%;
            margin-top: 0.7rem;
        }

        @include desktop {
            width: 10%;
            margin-left: 14vw;
        }
}

    &__header-search {
        
        @include mobile {
        display: flex;
        width: 87%;
        height: 48px;
        border: 1.5px solid $border-color;
        background-color: #FAFAFA;
        border-radius: $border-radius;
        margin-left: 5.5vw;
        margin-bottom: 10px;

        }

        @include tablet {
            width: 35%;
            margin-top: 1.4rem;
            height: 50px;
            margin-left: 15vw;
        }

        @include desktop {
            width: 20%;
            height: 43px;
            margin-left: 30vw;

        }
    }

    &__header-searchicon {
        @include mobile {
            position: relative;
            top: -3rem;
            left: 10%;
            width: 6%;   
        }

        @include tablet {
            width: 3%;
            left: -16.3rem;
            top: 0.4rem;
        }

        @include desktop {
            width: 1.5%;
            margin-left: -1rem;

        }
    }  

    &__header-button {
        @include mobile {
            display: flex;
            width: 68%;
            height: 48px;
            border: 1px solid $button;
            background-color: $button;
            border-radius: $border-radius;
            font-weight: bold;
            color: #FFFFFF;
            font-size: 15px;
            margin-left: 6vw;
            margin-top: -1.5rem;
            padding-left: 26vw;
            padding-top: 0.9rem;
        }

        @include tablet {
            width: 100px;
            padding-left: 2vw;
            margin-left: 78vw;
            margin-top: -4.5rem;
            height: 53px;
            padding-top: 1rem;
            padding-left: 1.7rem;
        }

        @include desktop {
            height: 48px;
            margin-left: 76vw;
            margin-top: -4.2rem;
            padding-top: 0.83rem;
        }
    }

    &__header-buttonicon {
        @include mobile {
            position: relative;
            top: -4.4rem;
            left: 25vw;
            width: 5%;
        }

        @include tablet {
            left: 79vw;
            width: 2.2%;
            top: -4.7rem;
        }

        @include desktop {
            left: 76.5vw;
            width: 1.1%;
            top: -4.6rem;
        }
    }

    &__header-usericon {
        @include mobile {
            width: 55px;
            height: 53px;
            border-radius: 50%;
            position: relative;
            left: 73%;
            top: -3.2rem;
        }
        
        @include tablet {
            left: 90%;
            height: 55px;
            top: -3.4rem;
        }

        @include desktop {
            left: 83.2%;
            top: -3.2rem;
        }
    }

}

::placeholder {
    @include mobile {
        color: $primary-color;
        font-family: 'Avenir';
        font-size: 15px;
        padding-left: 12vw;

    }

    @include tablet {
        padding-left: 6vw;
        font-size: 17px;
    }

    @include desktop {
        padding-left: 3.5vw;
        font-size: 15px;
    }
}
