@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.app {
    &__main-div {
    @include desktop {
        display: flex;
    }
  }

  &__aside-left {
      @include desktop {
        width: 65%;
      }
  }

  &__aside-right {
      @include desktop {
          width: 35%;
          border-left: 2px solid #e1e1e1;
          margin-top: -6.8rem;
      }
  }
}